body {
  margin: 0;
  padding: 0;
}

main {
  min-height: 100vh;
}

button {
  transition: 0.3s !important;
}

button:hover {
  transform: scale(1.2, 1.2);
}

/* intro */
.weather-intro {
  height: 20vh;
}

/* Searchbar */

.search-wrapper {
  height: 60vh;
  align-items: center;
}

.seachbar {
  height: 10vh;
  width: 100%;
  background: #fff;
  align-items: center;
  border-radius: 10px;
}

.search-input-wrapper {
  height: auto;
  flex: 1 90%;
}

#location-input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 2.5em;
  background: transparent;
  font-family: "Overpass", sans-serif;
}

.search-icon {
  font-size: 2.3em;
  flex: 1 10%;
  cursor: pointer;
}

/* Location card */
.brief-info-wrapper {
  display: none;
  animation-duration: 3s;
}

.weather-main {
  text-transform: capitalize;
}

.temp {
  font-family: "Overpass", sans-serif;
  font-size: 4em;
  font-weight: bold;
}

.weather-icon {
  height: 5em;
}

.brief-info {
  font-family: "Overpass", sans-serif;
  list-style: none;
}

.brief-info li {
  padding: 10px;
}

.weather-icon-small {
  height: 1em;
}

.error {
  font-family: "Overpass", sans-serif;
  color: red;
  font-size: 2em;
}

/*
##Device = Tablets, Ipads (portrait)
*/

@media (min-width: 768px) and (max-width: 1024px) {
}

/*
##Device = Tablets, Ipads (landscape)
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/*
##Device = Low Resolution Tablets, Mobiles (Landscape)
*/

@media (min-width: 481px) and (max-width: 767px) {
}

/*
##Device = Most of the Smartphones Mobiles (Portrait)
*/

@media (max-width: 480px) {
}
